.h2 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

table {
  background-color: var(--secondary-color);
  width: 90%;
  font-size: 2vw;
}

table td,
table th,
table tr {
  padding: 8px;
  border-radius: 4px;
}

table th {
  padding: 13px 9px;
  text-align: left;
  font-weight: 700;
  color: var(--accent-color);
  background-color: var(--primary-color);
}

table tr:nth-child(even) {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

table tr:nth-child(odd) {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

table tr:nth-child(even):hover {
  background-color: var(--tertiary-color);
  color: black;
}

table tr:hover {
  background-color: var(--tertiary-color);
}

.margin {
  background-color: var(--secondary-color)
}

.margins {
  padding-inline: 1rem;
  color: var(--accent-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (width >= 768px) {
  table {
    width: 70%;
    font-size: 1vw;
  }
}
